@font-face {
    font-family: 'Glyphter';
    src: url('fonts/Glyphter.eot');
    src: url('fonts/Glyphter?#iefix') format('embedded-opentype'),
         url('fonts/Glyphter.woff') format('woff'),
         url('fonts/Glyphter.ttf') format('truetype'),
         url('fonts/Glyphter.svg#Glyphter') format('svg');
    font-weight: normal;
    font-style: normal;
}
html {
     font-family: Arial, Helvetica, sans-serif;
     
     font-size: 14px;
}

* {
    box-sizing: border-box;
  }
body {
    margin:0;
   /* background-color: olive*/
}
title, url {
    display: block;
}
button, .navMenu-item {
    cursor: context-menu;
}

.icon {
    font-family: 'Glyphter';
    text-transform: initial;
 }

.btn {
    font-family: "MetricWeb-Regular", arial;
    display: inline-flex;
    display: -webkit-inline-flex;
    font-family: "MetricWeb-Medium", arial;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
    padding: 6px 12px;
    line-height: 1em;
    color: rgba(0, 0, 0, 0.55);
    border: 1px solid rgba(0, 0, 0, 0.12);
    white-space: nowrap;
    background-color: #ffffff;
    fill: #ffffff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.navArea {
    background-color: gray;
    display:flex;  
    flex-flow: column wrap;
    padding-top: 0.8em;
}
 
.contentArea {
    flex-grow: 1;
    display: flex;
    flex-direction: column;  
}

.contentArea .center {
    /* background: red; */
    overflow-y: auto;
}

.mainContainer {
    display:flex;  
    flex-flow: row nowrap;
    height: 100vh;
    width: 100vw;
}
/* .mainContainer > div {
    display:flex;  
    flex-direction: column;  
} */
 
 .favoriteTopArea {
     display:flex;
     height:5em;
 }
.favoriteTopArea > div {
    align-items:stretch;
    padding:15px;
}




.favoriteTopArea > div:nth-of-type(1){
    flex-grow: 2;
     
}
.favoriteTopArea > div:nth-of-type(2){
    flex-grow: 0;
    
}
.favoriteTopArea > div:nth-of-type(3){
    flex-grow:0;  
     
}
 .favoriteContent row cell:nth-of-type(1) {
     flex-grow: 1;
 }
 .favoriteContent row cell:nth-of-type(2) {
     flex-grow: 2;
 }
 .favoriteContent row cell:nth-of-type(3) {
     flex-grow: 0;
 }
 row {
    display: flex;
    padding: 0.5em;
 }
 .cellEven {
  background-color:lightgrey;

 }

 .tableList {
     width: 100%;
 }
 .tableList thead {
     font-weight: bold;
 }

.TileView {
    display:flex;
    flex-flow: row wrap;
    /* justify-content:  space-between; */
}
 
.navMenu {
    display: flex;
    flex-direction: row;
    justify-content:center;
}   

.navMenu-item {   
    padding:10px;
    background-color: gray;  
    font-size: 1.2em;
    white-space: nowrap;
}   
 
.subTitle {
    font-size: 1.7em;
}

.active{
    background-color:#3498db;
    color:#ffffff;
    }
 
.active.navMenu-item a {
    color:#ffffff;
}

.tile {
    height: 132px;
    width: 200px;
    border: 1px gray solid;
    border-radius: 10px;
    margin: 11px;
    display: flex;
    flex-direction: column;
    padding: 18px;
}

.tile title {
    font-size: 1.3em;
}
.tile url {
    flex-grow:1;
}



.modalFooter {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 27px;
}


button {
    background: #3498db;
    /* background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9); */
    /* -webkit-border-radius: 28;
    -moz-border-radius: 28; */
    border-radius: 10px;
    font-family: Arial;
    color: #ffffff;
    text-decoration: none;
    border-width: 0px;

    font-size: .8em;
    letter-spacing: .1em;
    line-height: 1em;
    margin: 0 0 0 .5em;
    padding: .75em 2em;
    text-transform: uppercase;
}
td {
    padding: 11px 10px;
    word-break: break-word;
}


@media  only screen 
    and (max-width: 768px)
    and (max-width: 768px) {
        body{ 
            background: orange;
        }
        .mainContainer{
            flex-flow: column nowrap;
        }
        .navArea {
            flex-direction: row;
            padding-top: 0;
            flex-shrink: 0;
        }
        .subTitle {display:none}
         
        .navMenu-item {
            flex-grow: 1;
            flex-basis: 0;
            height: 2.5em;
            text-align: center;
        }   
        .favoriteTopArea {
            flex-shrink: 0;
        }
        .favoriteTopArea > div:nth-of-type(2) {
            flex-grow: 1;
        }
        .favoriteTopArea > div:nth-of-type(2) input{
            font-size:1.2em;
            width:100%;
        }
        .favoriteTopArea > div:nth-of-type(3) {
            white-space: nowrap;
        }
        .favoriteTopArea > div {
            padding: 8px;
            height: 4em;
        }
}
 



/* Portrait */
/* @media screen 
    and (max-device-width: 360px) 
      and (device-height: 640px)   
    and (-webkit-device-pixel-ratio: 4) 
    and (orientation: portrait) {
        body{ 
            background: red;
       }
} */