html {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 14px;
}
body {
    margin:0;
   /* background-color: olive*/
}


 
.btn {
    font-family: "MetricWeb-Regular", arial;
    display: inline-flex;
    display: -webkit-inline-flex;
    font-family: "MetricWeb-Medium", arial;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
    padding: 6px 12px;
    line-height: 1em;
    color: rgba(0, 0, 0, 0.55);
    cursor: default;
    border: 1px solid rgba(0, 0, 0, 0.12);
    white-space: nowrap;
    background-color: #ffffff;
    fill: #ffffff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.navArea {
    background-color: gray;
    display:flex;  
    flex-flow: column wrap;
    padding-top: 0.8em;
}
 
.contentArea {
    flex-grow: 1;
    display: flex;
}

.contentArea .center {
    background: red;
}

.mainContainer {
    display:flex;  
    flex-flow: row nowrap;
    height: 100vh;
    width: 100vw;
}
.mainContainer > div {
    display:flex;  
    flex-direction: column;  
}
 
 .favoriteTopArea {
     display:flex;
     height:5em;
 }
.favoriteTopArea > div {
    align-items:stretch;
    padding:15px;
}




.favoriteTopArea > div:nth-of-type(1){
    flex-grow: 2;
}
.favoriteTopArea > div:nth-of-type(2){
    flex-grow: 0;
}
.favoriteTopArea > div:nth-of-type(3){
    flex-grow:0;  
}
 .favoriteContent row cell:nth-of-type(1) {
     flex-grow: 1;
 }
 .favoriteContent row cell:nth-of-type(2) {
     flex-grow: 2;
 }
 .favoriteContent row cell:nth-of-type(3) {
     flex-grow: 0;
 }
 row {
    display: flex;
    padding: 0.5em;
 }
 .cellEven {
  background-color:lightgrey;

 }

 .tableList {
     width: 100%;
 }
 .tableList thead {
     font-weight: bold;
 }
.TileView {
    display:flex;
    flex-flow: row wrap;
    justify-content:  space-between;
}
.tile {

    height: 200px;
    width: 200px;
    border: 1px red solid;
}
 
.navMenu {
    display: flex;
    flex-direction: row;
    justify-content:center;
}   

.navMenu-item {
     
    padding:10px;
    background-color: gray;  
    font-size: 1.2em;

}   

.subTitle {
    font-size: 1.7em;
}
.active{
    background-color:purple;
    color:#ffffff;
    }
.navMenu-item a {
    text-decoration: none;   
    color:black;
}
.active.navMenu-item a {
    color:#ffffff;
}
title {
    display: block;
    font-size: 1em;
    font-weight: bold;
}
.modalFooter {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
 

@media  screen and (max-width: 480px) {
 .navMenu-item {
   
    background-color: blue;
    
}   
}